body {
    background-color: #EFCED7;
}
.App {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.headline {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    font-family: "Ingrid Darling", cursive;
    font-size: 50px;
    color: #B60071;
}
h3{
    font-family: "Imprima", sans-serif;
    font-size: 30px;
    font-style: normal;
    color: #B60071;   
}
.container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 20px;
}
.partCategory,.partCakes{
    display: flex;
    text-align: center;
    flex: 3;
}
.partCart {
    display: flex;
    justify-content: flex-start;
    flex: 2;   
}
p {
    color: #B60071; 
}
.categoryButtonSelected{
    background-color: #FFAAAA;
    cursor: pointer;
    margin: 5px;
    padding: 5 px;
    font-weight: bold;
}
.categoryButton:hover {
    background-color: #fdebfd;
} 
.question{    
    font-family: "Imprima", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #B60071;     
}
button{
    background-color: #FFAAAA;
    border: 1px solid;
    color: #B60071;
}
@media all and (max-width: 800px){
    .container{
        margin-left: 30px;
    }
}
@media all and (max-width: 500px){
    .container{
        flex-direction: column;
        align-items: center;
    }
}



