body {
    background-color: #EFCED7;
}
.headline {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    font-family: "Ingrid Darling", cursive;
    font-size: 60px;
    color: #B60071;
}
h3{
    font-family: "Imprima", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #B60071;
}
.container {
    display: flex;
    justify-content: space-around;
}
.categoryButtonSelected{
    background-color: chocolate;
    cursor: pointer;
    margin: 5px;
    padding: 5 px;
}
.categoryButton:hover {
    background-color: #fdebfd;

}


